.backgrounds {
    background-image: url('https://www.micropia.nl/media/filer_public_thumbnails/filer_public/8c/22/8c227056-d8e2-48ad-b0c9-fff665202385/micropia_tsunami_bacterie.jpg__1920x0_q85_subsampling-2.jpg');
    width: 100%;
    height: 100%;
    opacity: 0.5;
}