/* .backgrounds {
    background-image: url('https://www.micropia.nl/media/filer_public_thumbnails/filer_public/8c/22/8c227056-d8e2-48ad-b0c9-fff665202385/micropia_tsunami_bacterie.jpg__1920x0_q85_subsampling-2.jpg');
    width: 100%;
    height: 100%;
    opacity: 0.5;
} */

.background {
  margin-top: 0;
}

.title {
    font-style: italic;
    color: azure;
    text-align: center;
    background: black;
    /* width: 100%;
    height: 100%; */
    opacity: 0.5;
    padding: 5%;
    /* padding: 100% */
}

.red {
    background: red;
    opacity: 0.2;
    text-align: center;
    color: aliceblue;
}

.blurple {
    background: #482E74;
    opacity: 0.4;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}

.description {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.flexbox {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  font-size: 80%;
  font-style: italic;
  padding: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.logo{
  font-size: 40px;
}

.work {
    font-size: 22px;
    text-decoration: underline;
    text-align: justify left;
}

.brief {
    font-size: 25px;
    font-style: italic;
}

.test {
    font-size:20px;
}