/* .backgrounds {
    background-image: url('https://www.micropia.nl/media/filer_public_thumbnails/filer_public/8c/22/8c227056-d8e2-48ad-b0c9-fff665202385/micropia_tsunami_bacterie.jpg__1920x0_q85_subsampling-2.jpg');
    width: 100%;
    height: 100%;
    opacity: 0.5;
} */

.title {
    font-style: italic;
    color: azure;
    text-align: center;
    background: black;
    /* width: 100%;
    height: 100%; */
    opacity: 0.5;
    padding: 5%;
    /* padding: 100% */
}

.red {
    background: red;
    opacity: 0.2;
    color: aliceblue;
    text-align: center;
    font-size: 80%;
    font-style: italic;
}

.grid-container {
    display: grid;
}