#input{
  display: flex;
  flex-direction: row;
}

input {
  width: 30%;
  padding: 10px;
  padding-block-end: 10px;
  border: 5px solid #b0b2b2;
  border-radius: 10px;
  margin: 10px auto;
  color: #b0b2b2;

}

input:focus {
  outline: none;
  box-shadow: 0 0 8px 0 dodgerblue;
}

::placeholder {
  color: #b0b2b2;
}

.input {
  margin: 30px
}
